DB_URL=postgresql+psycopg://confidence_sync_user:confidence_password@localhost:5432/confidence_sync_db

AWS_REGION = us-east-1
COGNITO_ENDPOINT_URL=http://localhost:9229
COGNITO_USER_POOL_ID=local_31NcgmC7
COGNITO_APP_CLIENT_ID=3kntalybmi532vqa7uy6wmort
COGNITO_APP_CLIENT_SECRET=e2f0hc8d17lkd2xdx5v2lhj05

